.banner {
    background-color: var(--verde);
    color: var(--branco);
    text-align: center;
    padding: 2.5em ;
    font-size: 1em;
}

.banner__titulo {
    font-size: 3em;
    font-weight: 700;
}

.banner__texto {
    font-weight: 500;
    font-size: 2em;
}
