@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');
@import url(arquivos/style/conteudo.css);
@import url(arquivos/style/banner.css);
@import url(arquivos/style/header.css);
:root{
    --cor-de-fundo: white;
    --branco: white;
    --verde: green;
    --preto: #000000;
    --fonte-principal: "poppins";
}

body{
    background-color: var(--cor-de-fundo);
    color: green;
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

p {
    text-indent: 50px;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal {
    text-align: left;
    width: 100%;
    font-size: 32px;
}

.titulo-principal span {
    color: var(--verde);
}

.abas-textos{
    background-color: var(--texto-fundo);
    padding: 40px;
    border-radius: 0 0 40px 40px;
}
.aba-conteudo.ativo{
    display:block;
}

.aba-conteudo{
    display: none;
}

.aba-conteudo-titulo-principal{
    font-size: 28px;
    text-align: center;
}
.aba-conteudo-titulo-secundario{
    text-align: center;
    color: var(--verde);
    text-transform: uppercase;
}
.contador{
    font-size: 20px;
    text-align: center;
}
.contador{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contador-digito-texto{
    color: var(--verde);
    font-size: 20px;
    margin: 0;
}
.contador-digito{
    padding: 0 16px;
    text-align: center;
    min-width: 100px;
}
.contador-digito-numero{
    font-size: 80px;
    margin: 0;
}
.topico{
    color: var(--preto);
}


@media (max-width: 840px) {
    .container {
        flex-direction: column;
    }
    
    .lista-menu__titulo, .lista-menu__item {
        margin-left: 130px;
    }

    .imagem-container {
        flex-direction: column;
        align-items: center;
    }

    .imagem__principais {
        width: 80%;
        height: 400px;
        text-align: center;
        margin-left: 10%;
    }

    .titulo-principal {
        font-size: 24px;
        text-align: center;
    }

    .aba-conteudo-titulo-principal {
        font-size: 24px;
    }

    .contador-digito-numero {
        font-size: 60px;
    }

    .contador-digito-texto {
        font-size: 16px;
    }
    .conteudo__titulo1{
        color: black;
    }
    .topico{
        font-size: 50px;
    }

    .rodape__lista {
        flex-direction: column;
        align-items: center;
        margin-left: -100px;
    }

    .lista__link {
        margin: 10px 0;
    }

    .imagem__conteudo {
        height: 500px;
    }

    .conteudo__subtitulo {
        text-align: center;
    }

    .imagem2 {
        width: 80%;
        margin-left: 0%;
    }
    .principios__conteudo {
        text-align: center;
    }
}

@media (max-width: 480px) {

    body{
        text-align: center;
    }
    .banner__titulo {
        font-size: 18px;
    }

    .banner__texto {
        font-size: 14px;
    }

    .imagem-container {
        flex-direction: column;
        align-items: center;
    }

    .imagem__principais {
        align-items: center;
        width: 80%;
        margin-left: 40px;
    }

    .titulo-principal {
        font-size: 20px;
        text-align: center;
    }

    .conteudo__texto-final{
        text-align: center;
    }

    .aba-conteudo-titulo-principal {
        font-size: 20px;
    }

    .contador-digito-numero {
        font-size: 40px;
    }

    .contador-digito-texto {
        font-size: 14px;
    }
    .conteudo__titulo1{
        color: rgb(246, 0, 0);
        font-size: 80px;
    }
    .topico{
        font-size: 50px;
        text-align: center;
    }
    
    .imagem__conteudo {
        height: 250px;
        max-width: 85%;
        margin-left: 0px;
    }
    .imagem2 {
        width: 80%;
        height: 400px;
        margin-left: 10%;
    }
    .opcao__itens {
        text-align: center;
    }

    .conteudo__titulo {
        font-size: 3em;
    }
    
    .conteudo__subtitulo {
        margin-left: 0px;
    }

    .principios__conteudo {
        text-align: start;
    }

    .rodape__lista {
        flex-direction: column;
        align-items: center;
        margin-left: -100px;
    }

    .lista__link {
        margin: 10px 0;
    }
    .lista-menu__titulo, .lista-menu__item {
        margin-left: 0px;
    }
}
