.inicio {
    background-color: white;
}

.conteudo__titulo1 {
    font-size: 8em;
    text-align: center;
    font-family: var(--fonte-principal);
}

.conteudo__titulo {
    font-size: 5em;
    margin-left: 25px;
    text-align: center;
    font-family: var(--fonte-principal);
    color: darkgoldenrod;
}

.topico {
    margin-left: 3%;
    font-size: 4em;
    color: white;
}

.conteudo__texto1 {
    font-size: 2em;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 3%;
}

.conteudo__texto-final{
    font-size: 2em;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 3%;
    color: black;
}

.conteudo__subtitulo {
    font-size: 4em;
    margin-left: 45px;
    margin-top: 10px;
    font-family: var(--fonte-principal);
}

.conteudo__texto {
    font-size: 2em;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 3%;
    margin-bottom: 5%;
    padding-bottom: 30px;
}

.imagem__conteudo {
    width: 80%;
    height: 900px;
    margin-left: 10%;
    margin-bottom: 15px;
}

.conteudo__subtitulo2 {
    text-align: center;
    color: white;
    font-size: 3.8em;
    margin-top: 1em;
    padding-top: 1em;
}

.principios__conteudo {
    background-color: var(--verde);
    color: white;
}

.imagem2 {
    width: 50%;
    height: 400px;
    margin-left: 25%;
    margin-bottom: 15px;
}

.principicio__itens {
    text-align: center;
    margin: 0px 20px 0px 20px;
}

.opcao__itens {
    text-align: start;
    margin-left: 8%;
    font-size: 3em;
}

.imagem__principais {
    height: 300px;
    width: 300px;
    margin: 30px;
    margin-left: 20%;
    position: relative;
    text-align: center;
}

.imagem__principais:hover {
    height: 400px;
    width: 400px;
    border: 4px, solid, goldenrod ;
    margin: 10px;
    margin-right: 0px;
    margin-left: 15%;
}

.principios__conteudo2 {
    background-color: green;
    color: white;
}

.conteudo__subtitulo3{
    text-align: center;
    color: black;
    font-size: 3.8em;
    margin-top: 1em;
    padding-top: 1em;
}
 .imagem3{
    width: 50%;
    height: 500px;
    margin-left: 25%;
    margin-bottom: 15px;
 }

 .rodape {
    text-align: center;
    margin: 5em 0em;
    background-color:var(--verde) ;
    font-size: 20px;
    margin-bottom: 0%;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__titulo {
   color: var(--branco);
   font-size: 35px;
}

.lista__link a{
    text-decoration: none;
    color: var(--branco);
    margin-left: 1em;
    padding-left: 2em;
}

.rodape__texto {
    margin-bottom: 1em;
    color: var(--branco);
    font-size: 30px;
    line-height: 1em;
    margin-top: 4px;
}

.lista__link a:hover {
    color: purple;
    font-size: 22px;

}

.lista__link a:active {
    color:red;
}

